<!--<form action="/game" method="post">
  Generar codigo: <%= @@numero_random %><br>
  <br>
  <input type="submit" value="Jugar!">
  
</form>-->

<div class="container">
        <form action ="/game" method="post">
            ingresar Codigo: <input type="Integer"  name="codigo" value=""> 
            <br>
            <br>
            <input type="submit" value="jugar">
        </form>
    </div>


