<form action="/game" method="post">
<div align="center">
  <label>Ingrese el nombre del jugador: </label><br>
  <input type="Text" name="name">
</div>
<h1>Bienvenido a Toros y Vacas xD</h1>
  <br>
  Generar codigo: <%= @@numero_random %><br>
  <br>
  <input type="submit" value="Jugar!">
</form>
