<h1>Bienvenido a Toros y Vacas xD</h1>
  <br>
  Generar codigo: <%= @@numero_random %><br>
  <br>
  <input type="submit" value="Jugar!">

  <form action="/inputCoding" method="post">
    <div align="center">
      <label>Ingrese el nombre del jugador: </label><br>
      <input type="Text" name="player1">
    </div>
    <h2> Ingresa un numero <h2> 
    Digito: <input type="text"  name="numberToInput">
    <input type="submit" value="Jugar!">     
</form>
