<form action="/inputCoding" method="post">
    <h2> Ingresa un numero <h2> 
    Digito: <input type="text"  name="numberToInput">
     <br>
    Escoja dificultad: 
    <select name="dificultad" id="dificultad">
        <option value="4">Facil</option>
        <option value="6">Medio</option>
        <option value="8">Dificil</option>
    </select>
    <br>
    <br>
    <br>
    <br>
<input type="submit" value="Jugar!">
</form>

