<h1>Bienvenidos al juego Vacas y Toros</h1>
<p>
• Un toro indica que uno de los dígitos ingresados
coincide exactamente con el valor y la posición de uno
de los dígitos en el código secreto.
</p>
<p>
• Una vaca indica que uno de los dígitos ingresados
coincide con el valor de uno de los dígitos en el código
secreto, pero que se encuentra en una posición
incorrecta.
</p>
<br>
<form action="/setData" method="post">
  Escoja dificultad: 
  <select name="difficult">
    <option value="4">Facil</option>
    <option value="6">Medio</option>
    <option value="8">Dificil</option>
  </select>
  <br>
  <br>
  Escoja su modo de juego:
  <select name="gameMode">
    <option value="C">Colores</option>
    <option value="N">Numericos</option>
  </select>
  <br>
  <br>
  Escoja cantidad de jugadores:
  <select name="players">
    <option value="1">1 jugador</option>
    <option value="2">2 jugadores</option>
  </select>
  <br>
  <br>
  <input type="submit" value="Siguiente" id="next">
</form>